@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.menu {
    position: absolute;
    background-color: #242222;
    color: #eeeaea;
    height: 100%;
    width: 300px;
    opacity: 0.95;
    z-index: 1;

    .close-icon {
        display: flex;
        flex-direction: row-reverse;
        margin: 10px;
    }
    .lists {
        margin-top: 150px;

        .icons {
            text-decoration: none;
            color:#eeeaea;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 60px 15px 30px;
            font-family: 'Nunito';
            margin-bottom: 20px;
    
            &:hover {
                cursor: pointer;
                background-color: #f7b83a;
                color: #242222;
            }
    
            .form-icon {
                margin-right: 15px;
            }
        }
    }
}

.menu-hide {
    visibility: hidden;
}
