@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

.header {
    display: flex;
    align-items: center;
    color: hsl(180, 7%, 35%);
    background-color: #e4e1e1;
    padding: 30px 40px 30px 40px;
    border-bottom: #D1D1D1 0.1rem solid;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;

    .menuIcon {
        font-size: 33px;
        padding: 0.5rem;
        
        &:hover {
            cursor: pointer;
            border-radius: 50%;
            background-color: #eeeaea;
        }
    }

    .menuIcon-hide {
        visibility: hidden;
    }

    img {
        margin: 0 10px 0 40px;
    }

    .toggle-switch {
        // margin-left: auto;
        display: flex;
        align-items: center;
        margin-left: auto;
        p {
            font-size: 15px;
            margin-right: 10px;
        }
    }
}

.header-dark {
    // background-color: #2C3333;
    background-color: #303233;
    color: #fff;
    border-bottom: none;
    
    .menuIcon {
        color: #fff;
        &:hover {
            background-color: #686464;
        }
    }
}

