@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.del-text {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Nunito';
    margin-top: 20px;

    h2 {
        margin: 150px auto;
    }

    p {
        display: flex;
        margin: 20px 50px;
        padding: 10px 15px;
        background-color: #515c5c;
        color: #fff;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 15px;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }
    }
}

.del-text-dark {
    p {
        background-color: #f7b83a;
        color: #000;
    }

    h2 {
        color: #fff;
    }
}

@media screen and (max-width: 1135px) {
    .del-text, .del-text-dark {
        p {
            font-size: 0.9rem;
            .del-icon {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 985px) {
    .del-text, .del-text-dark {
        p {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 580px) {
    .del-text, .del-text-dark {
        p {
            font-size: 0.7rem;
            .del-icon {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .del-text, .del-text-dark {
        margin: 15px auto;
    }
}

